@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ---------------------------- */

:root {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;   
}

/* ---------------------------- */
.container {
    margin: -10px;
    margin-bottom: -20px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1.5fr minmax(600px, 4fr);
}

/* ---------------------------- */

.sidebar {
    grid-row: 1/-1;
    grid-column: 1; 
    background-color: rgb(188, 188, 254);
    display: grid;
    grid-template-rows: minmax(30px,1fr) 0.5fr repeat(10,minmax(30px,1fr)) 5fr;
    grid-template-columns: 1;
}

.sidebar .header {
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    font-size: 16pt;
}

.sidebar .header svg {
    place-self: center;
}

.sidebar .header text{
    justify-self: left;
    align-self: center;
}

.header ~ div {
    padding: 3px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    justify-content: end;
}

.header ~ div > svg {
    justify-self: center;
}


/* ---------------------------- */

.top-right {
    display: flex;
    flex-flow: column;
    grid-row: 1;
    grid-column: 2;
    background-color: gray;
    padding: 20px;
    gap: 2px;
}

/*---------------------------*/

.top-right .top {
    display: flex;
    padding: 0.5em;
}

.top-right .left { 
    display: flex;
    flex: 1;
}
.top-right .search-bar {
    display: flex;
    justify-content: start;
    gap: 1em;
    width: 80%;
}
.top-right input{
    border-radius: 7px;
    flex: 1 0 auto;
}

.top-right .right {
    display: flex;
    justify-content: space-evenly;
    width: 35%;

}

/* ---------------------------- */

.top-right .navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar .left {
    flex: 1;
    justify-content: start;
    align-items: center;
    padding: 1vw;
    gap: 10px;
}

.navbar .right {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 30px;
}
.navbar .right button {
    width: 8vw;
    aspect-ratio: 16/6;
    border-radius: 10px;
}

/* ---------------------------- */

.bot-right {
    grid-row: 2;
    grid-column: 2;
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bot-right > .projects {
    display: grid;
    background-color: beige;
}

.bot-right > .feed {
    display: grid;
    background-color: rgb(174, 195, 154);
}