@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ---------------------------- */

:root {
    font-family: 'Poppins', sans-serif;
    color: var(--davys-grey);   
    --blue-bell: #B7ADCF;
    --alice-blue: #F4FAFF;
    --platinum: #DEE7E7;
    --cadet: #4F646F;
    --davys-grey: #535657;
}

/* ---------------------------- */
.container {
    margin: -10px;
    margin-bottom: -20px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr minmax(600px, 4.4fr);
}

/* ---------------------------- */

.sidebar {
    grid-row: 1/-1;
    grid-column: 1; 
    background-color: var(--cadet);
    display: grid;
    grid-template-rows: minmax(30px,1fr) 0.5fr repeat(10,minmax(30px,1fr)) 5fr;
    grid-template-columns: 1;
    color: var(--alice-blue);
}

.sidebar .header {
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    font-size: 16pt;
}

.sidebar .header svg {
    place-self: center;
}

.sidebar .header text{
    justify-self: left;
    align-self: center;
}

.header ~ div {
    padding: 3px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    justify-content: end;
}

.header ~ div > svg {
    justify-self: center;
}


/* ---------------------------- */

.top-right {
    display: flex;
    flex-flow: column;
    grid-row: 1;
    grid-column: 2;
    background-color: var(--blue-bell);
    padding: 20px;
    gap: 2px;
    box-shadow: 2px 2px 2px rgba(131, 117, 156, 0.238);
}

/*---------------------------*/

.top-right .top {
    display: flex;
    padding: 0.5em;
}

.top-right .left { 
    display: flex;
    flex: 1;
}
.top-right .search-bar {
    display: flex;
    justify-content: start;
    gap: 1em;
    width: 80%;
}
.top-right input{
    border-radius: 7px;
    flex: 1 0 auto;
    background-color: var(--alice-blue);
    border-color: var(--blue-bell)
}

.top-right .right {
    display: flex;
    justify-content: space-evenly;
    width: 35%;

}

/* ---------------------------- */

.top-right .navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar .left {
    flex: 1;
    justify-content: start;
    align-items: center;
    padding: 1vw;
    gap: 10px;
}

.navbar .right {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 30px;
}
.navbar .right button {
    width: 8vw;
    aspect-ratio: 16/4;
    border-radius: 30%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 1px solid var(--cadet);
    color: var(--alice-blue);
    background-color: var(--cadet);
    box-shadow: none;
}

/* ---------------------------- */

.bot-right {
    grid-row: 2;
    grid-column: 2;
    background-color: var(--platinum);
    display: grid;
    grid-template-columns: 3fr 1.4fr;
    padding-bottom: 3vh;
}

.bot-right > .projects {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: clamp(5px, 8px, 10px);
    column-gap: clamp(10px, 11px, 12px);
    padding: 3px;
    margin-left: 1.5vw;

}

.projects > div:nth-child(odd) {
    justify-self: stretch;
}

.projects > div:nth-child(even) {
    justify-self: stretch;
}

.projects > text {
    grid-column: 1/-1;
    color: var(--davys-grey);
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 10px;
}

.projects .card {
    background-color: var(--alice-blue);
    border-radius: 4%;
    width: clamp(200px, 1fr, 400px);
    height: auto;
    place-self: center;
    box-shadow: 2px 2px 2px rgba(131, 117, 156, 0.238);
}

.projects .project-container {
    display: grid;
    grid-template-rows: min-content 4fr 1fr;
    padding: 5px;
    margin: clamp(10px, 20px, 30px);
}

.projects .card text {
    grid-row: 1;
    font-size: 12pt;
    font-weight: 800;
}

.projects .card span {
    grid-row: 2;
    font-size: 10pt;
}

.project-container svg-container {
    justify-self: end;
    display: block;
}

/*----------------------------*/

.bot-right > .feed {
    display: grid;
    grid-template-rows: min-content 1fr min-content 1fr;
}

.bot-right > .feed > text {
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 20px;
}

.bot-right > .feed > div {
    display: grid;
}

.feed .news {   
    overflow: auto;
    padding: clamp(10px, 20px, 30px);
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    gap: clamp(2px, 5px, 7px);
    height: auto;
    box-shadow: 2px 2px 2px rgba(131, 117, 156, 0.238);
}


.feed > div {
    background-color: var(--alice-blue);
    padding: 10px;
    margin: 10px;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 2vw;
    margin-left: 1vw;
    max-height: 300px;
    border-radius: 4%;
}
.feed .news div{
    display: grid;
    grid-template-rows: min-content 1fr;
    border-bottom: 1px solid var(--davys-grey);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.feed .news span {
    font-weight: 600;
}
/*-------------------------------------------*/ 
.feed .trending {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 12px;
    row-gap: 2px;
    column-gap: 3px;
    box-shadow: 2px 2px 2px rgba(131, 117, 156, 0.238);
}

.feed .trending > svg {
    justify-self: center;
}

.feed .trending >*:nth-child(even) {
    justify-self: left;
}